@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size: 12px;
  --text-color-dark-blue: hsl(238, 29%, 16%);
  --text-color-soft-red: hsl(14, 88%, 65%);
  --text-color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --text-color-dark-grayish-blue: hsl(240, 6%, 50%);
  --bg-gradient-violet: hsl(273, 75%, 66%);
  --bg-gradient-blue: hsl(240, 73%, 65%);
  --dividers-color-light-blue: hsl(240, 5%, 91%);
}

body {
  background: linear-gradient(
    180deg,
    var(--bg-gradient-violet),
    var(--bg-gradient-blue)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: var(--text-color-dark-blue);
}

.container {
  background-color: white;
  width: 90vw;
  margin: 15rem auto 0;
  padding: 12rem 2rem 5rem;
  border-radius: 2rem;
}

footer {
  margin-top: 0.5rem;
  text-align: center;
  color: var(--dividers-color-light-blue);
}

footer a {
  color: var(--text-color-dark-blue);
  text-decoration: none;
}

footer a:hover {
  color: var(--text-color-soft-red);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.img-mobile {
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 12rem;
}

.bg-mobile {
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}

.img-desktop-container,
.img-desktop-box {
  display: none;
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--dividers-color-light-blue);
}

.accordion button {
  color: var(--text-color-very-dark-grayish-blue);
  text-align: left;
  width: 100%;
  padding: 1rem 0;
  font-weight: 400;
  color: inherit;
  font-family: inherit;
  font-size: 1.2em;
  border: none;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion button[aria-expanded="true"],
.accordion button:focus {
  font-weight: 700;
}

.accordion button:hover {
  cursor: pointer;
  color: var(--text-color-soft-red);
}

.accordion button .icon {
  height: 100%;
  content: url("images/icon-arrow-down.svg");
}

.accordion button[aria-expanded="true"] .icon {
  transform: rotate(180deg);
  transition: transform 500ms;
}

.content {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.content p {
  color: var(--text-color-dark-grayish-blue);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.accordion button[aria-expanded="true"] + .content {
  opacity: 1;
  max-height: 10em;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  transition: all 200ms linear;
}

@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: left;
  }

  .container {
    width: 60rem;
    height: 32rem;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left -37rem bottom -10rem;
  }

  .img-desktop-container {
    padding-right: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .img-desktop {
    position: relative;
    max-width: 25rem;
    left: -2rem;
  }

  .img-desktop-box {
    display: inline;
    position: absolute;
    left: -6.5rem;
    top: 11.5rem;
    z-index: 1;
  }

  .img-mobile,
  .bg-mobile {
    display: none;
  }

  .accordion {
    padding: 4rem 5rem 4rem 0;
  }
}
